<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scorecards for {{ datestr }}</title>
</head>
<body>
  <h1> Scorebooks for {{ datestr }} baseball games </h1>
  <p>If you see an error, feel free to save gameid and contact me</p>

  <a href="{{ url_for('date_page', datestr=prev_day) }}"> Previous day </a>
  <a href="{{ url_for('date_page', datestr=next_day) }}"> Next day </a>
  <a href="{{ url_for('main') }}"> Today </a>
  or select date here
  <form action="{{ url_for('dateform') }}" method="get">
    <input name="date" type="date" value="{{ datestr }}">
    <input type="submit">
  </form>

  <ul id="navigation">
    {% for item in games %}
    <li>
      <a href="{{ url_for('game_page', gameid=item[0]) }}">
        {{ item[1]['away'] }} at {{ item[1]['home'] }}
      </a>
    </li>
    {% endfor %}
  </ul>

    {% for game_data in gamedatas %}
      <h1> Away scorecard for gameid {{ game_data.gameid }}</h1>
      <div>
      {{ game_data.away_svg }}
      </div>
      <h1> Home scorecard for gameid {{ game_data.gameid }}</h1>
      <div>
      {{ game_data.home_svg }}
      </div>
    {% endfor %}
</body>
</html>
