<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scorecards for {{ datestr }}</title>
</head>
<body>
  <h1> Scorebooks for {{ datestr }} baseball games </h1>

  <a href="{{ url_for('date_page', datestr=prev_day) }}"> Previous day </a>
  <a href="{{ url_for('date_page', datestr=next_day) }}"> Next day </a>
  <a href="{{ url_for('main') }}"> Today </a>
    <ul id="navigation">
    {% for item in games %}
    <li>
      <a href="{{ url_for('game_page', gameid=item[0]) }}">
        {{ item[1]['away'] }} at {{ item[1]['home'] }}
      </a>
    </li>
    {% endfor %}
    </ul>
</body>
</html>
