<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scorecard for gameid {{ gameid }}</title>
</head>
<body>
  <a href="{{ url_for('main') }}">
    Back to today's games
  </a>

  <br>
  <div style="position:fixed; right:0;">
    <p>Last updated {{ age }} sec ago  </p>
    <a href="{{ url_for('refresh_game', gameid=gameid) }}">
      <button > Refresh this game </button>
    </a>
  </div>

  <h1> Away scorecard for gameid {{ gameid }}</h1>
  <div>
  {{ away_svg }}
  </div>
  <h1> Home scorecard for gameid {{ gameid }}</h1>
  <div>
  {{ home_svg }}
  </div>
</body>
</html>
